<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <br/>
    <form method="POST" action="/listings"class="needs-validation" novalidate enctype="multipart/form-data">
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please enter title</div>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div>
            <label for="image" class="form-label">Upload Listing image</label>
            <input name="listing[image]" type="file" class="form-control"/>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="enter price"  class="form-control"required/>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="col-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="enter country" type="text" class="form-control"required/>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
        <div>
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="enter location" type="text" class="form-control"required/>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br/><br/>
        <button class="btn btn-dark add-btn">ADD</button>
        <br/>
    </form>
</div>
</div>
</body>
</html>